<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Elastic-Hammer</title>

  <link type='text/css' rel='stylesheet' style type='text/css' href="style.css"></link>
  <script type='text/javascript' src='jquery.js'></script>
  <script type='text/javascript' src='underscore.js'></script>
  <script type='text/javascript' src='backbone.js'></script>
  <script type='text/javascript' src="json2.js"></script>
  <script type='text/javascript' src='main.js'></script>

  <script type="x-tmpl" id="request-history-tmpl">
    <h2>Request History</h2>
    <div class='requests'>
      <%= content %>
    </div>
  </script>

  <script type="x-tmpl" id="request-tmpl">
    <%= method %> <%= server %>/<%=path%>
  </script>

  <script type="x-tmpl" id="request-form-tmpl">
    <form>
      <div class='fields'>
        <select id='ajax-method' name='method'>
          <option value='GET'>GET</option>
          <option value='PUT'>PUT</option>
          <option value='POST'>POST</option>
          <option value='DELETE'>DELETE</option>
          <option value='HEAD'>HEAD</option>
        </select>
        <input id='server' placeholder='http://server:port' name='server' type='text' value='http://localhost:9200' />
        <input id='path' placeholder='/path' name='path' type='text' />
        <input type='submit' value='&#9166;' />
      </div>
    </form>
  </script>
</head>

<body>
  <header>
    <h1>elastic-hammer</h1>
    <span class="subhead">: an elasticsearch query tool<span>
  </header>
  
  <section id='content'>
    
  </section>
  <!--
  <div id='command-bar'>
  <form id='client'>
    <div class='fields'>
      <select id='ajax-method' name='method'>
        <option value='GET'>GET</option>
        <option value='PUT'>PUT</option>
        <option value='POST'>POST</option>
        <option value='DELETE'>DELETE</option>
        <option value='HEAD'>HEAD</option>
      </select>
      <input id='server' placeholder='http://server:port' name='server' type='text' value='http://localhost:9200' />
      <input id='path' placeholder='/path' name='path' type='text' />
      <input type='submit' value='Go!' />
    </div>

    <div id='body'>
      <label for="body">Body</label>
      <textarea name="body"></textarea>
    </div>
    <div id='response'>
      <label for="response">Response</label>
      <pre id="output"></textarea>
    </div>

  </form>
</div>


  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script>
(function() {

$('#client').on('submit', function (e) {
  e.preventDefault();
  var $f = $('#client');
  var meth = $f.find('#ajax-method').val();
  var srv = $f.find('#server').val();
  var path = $f.find('#path').val()
  var body = $f.find('textarea[name=body]').val();
  var url = srv + '/' + path;
  var output = $('#output');
  $.ajax(url, {type: meth, data: body}).
    success(function (d) {
      console.log(d);
      output.addClass('success');
      output.removeClass('error');
      output.text(JSON.stringify(d, null, '  '));
    }).error(function (d) {
      console.error(d);
      output.removeClass('success');
      output.addClass('error');
      output.text(JSON.stringify(d, null, '  '));
    });
});

})();
  -->
  </script>

</body>

</html>
