body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-image: url('diagonales_decalees.png');
}

h1 {
  font-size: 16px;
  display: inline;  
}

header, h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
}

.request-history .requests {
  font-family: monospace;
}

.request-history .request {
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.request-history .status {
  font-weight: bold;
}

.request-history .status.succeeded {
  color: #00ff00;
}

.request-history .status.errored {
  color: red;
}

.request-history .server {
  font-size: 10px;
  margin: 2px 0 4px 0;
}

header, #content {
  background-color: rgba(255,255,255,0.7);
  margin: 0px auto;
  display: table;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.request-form form {
  display: table;
  width: 100%;
}

textarea {
  line-height: 13px;
}

.request-form form textarea {
  display: none;
}

.request-form form.method-post textarea, .request-form form.method-put textarea {
  display: block;
}

.request-form textarea {
  width: 100%;
  height: 80px;
}

.request-form .fields {
  display: table-row;
}

.request-form #path {
  width: 640px;
}

#command-bar .labels, #command-bar .fields {
  width: 920px;
  display: table-row;
}
#command-bar .labels input, #command-bar .labels select, #command-bar .labels label, #command-bar .fields input, #command-bar .fields select, #command-bar .fields label {
  display: inline-block;
  padding: 2px 1px;
  margin: 0px 5px;
}
#command-bar .labels #ajax-method, #command-bar .labels #ajax-method-label, #command-bar .fields #ajax-method, #command-bar .fields #ajax-method-label {
  width: 80px;
}
#command-bar .labels #server, #command-bar .labels #server-label, #command-bar .fields #server, #command-bar .fields #server-label {
  width: 200px;
}
#command-bar .labels #path, #command-bar .labels #path-label, #command-bar .fields #path, #command-bar .fields #path-label {
  width: 500px;
}

#body {
  display: block;
  float: left;
  width: 450px;
  min-height: 500px;
  margin-top: 10px;
}

#body label, #response label {
  font-variant: small-caps;
}

#body {
  margin-right: 15px;
}

textarea.response, textarea.body {
  white-space: pre-wrap;
  margin: 0;
  border: 1px solid silver;
  border-top: 4px solid silver;
  width: 100%;
  color: black;
  overflow: scroll;
}

#response pre.error {
  border-color: red;
}

#body textarea {
  font-family: monospace;
  font-size: 14px;
  display: block;
  width: 100%;
  background: transparent;
}