body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #efefef; 
  background-size: 26px 26px;
  margin: 0;
}

a {
  color: rgb(114, 189, 53);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

header .links {
  float: right;
  font-size: 12px;
  margin-right: 4px;
  text-transform: none;
}

.gh-link a {
  color: #666;
}

header {
  background-color: rgba(255,255,255,0.8);
  padding: 10px 5px;
  border: 2px solid rgb(168,168,168);
  border-left: 0;
  border-right: 0
}

h1 {
  font-size: 12px;
  display: inline;
  position: relative;
}

.hammerpick {
  line-height: 12px;
  font-size: 38px;
  margin-left: 5px;
  float: left;
  color: rgb(114, 204, 40);
}



.subhead {
  font-size: 12px;
  text-transform: none;
}

header, h1, h2, h3 {
  padding-left: 10px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
}

section {
  margin-bottom: 10px;
}

.ui-left {
  float: left;
  width: 500px;
  overflow: hidden;
}

.ui-right, #request-history .resp-info {
  margin-left: 520px;
}

#current-request {
  background-color: rgba(236, 236, 236, 0.8);
  border: 0px solid rgba(114, 204, 40,0.7);

  border-top-width: 5px;
  -webkit-transition: background-color 0.2s ease-in-out;                 
  -moz-transition: background-color 0.2s ease-in-out;                
  -o-transition: background-color 0.2s ease-in-out;  
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#last-request {
  min-height: 544px;
  background-image: url('axe.png');
  background-repeat: no-repeat;
  background-position:center; 
  margin-top: 10px;
  display: block;
  border-top: 5px solid rgba(114, 204, 40,0.7);;
  overflow: hidden;
  background-color: #fff;
}

#current-request form {
  width: 500px;
}

#current-request.highlight {

  background-color: rgb(241, 255, 229);
}

#working-data, #historical-reqs {
  border: 1px solid silver;
  padding: 0 10px;
  border-top: 0;
  border-bottom: 0;
  width: 100%;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

#last-request .body-cont {
  display: none;
}

.CodeMirror {
  height: 494px;
}

#request-history, #last-request {
  font-family: monospace;
}

#request-history {
  clear: both;
  padding-top: 0;
}

#request-history-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid silver;
  border-left: 0;
  border-right: 0;
}

#request-history .request {
  padding: 10px 10px;
  border-top: 5px solid rgba(114, 204, 40,0.7);
  margin-bottom: 10px;

  background-color: rgb(255,255,255);
}

#content {
  background-color: rgba(255,255,255,0.7);
  color: #333;
  margin: 0px auto;
  display: table;
  width: 100%;
  padding: 5px 0px;
  border-bottom: 1px solid #eee;
}

.request-form form {
  display: table;
  width: 100%;
}

textarea {
  line-height: 13px;
}

.request-form form.method-post textarea, .request-form form.method-put textarea {
  display: block;
}

.request-form .errors {
  font-weight: bold;
  background-color: #fee;
  margin: 5px 0;
}

.request-form textarea {
  width: 100%;
  min-height: 80px;
}

.request-form .fields {
  display: table-row;
}

.request-form #path {
  display: table-cell;
  width: 280px;
}
#method, #server {
  display: table-cell;
}


#command-bar .labels, #command-bar .fields {
  width: 920px;
  display: table-row;
}
#command-bar .labels input, #command-bar .labels select, #command-bar .labels label, #command-bar .fields input, #command-bar .fields select, #command-bar .fields label {
  display: inline-block;
  padding: 2px 1px;
  margin: 0px 5px;
}
#command-bar .labels #ajax-method, #command-bar .labels #ajax-method-label, #command-bar .fields #ajax-method, #command-bar .fields #ajax-method-label {
  width: 80px;
}
#command-bar .labels #server, #command-bar .labels #server-label, #command-bar .fields #server, #command-bar .fields #server-label {
  width: 200px;
}
#command-bar .labels #path, #command-bar .labels #path-label, #command-bar .fields #path, #command-bar .fields #path-label {
  width: 500px;
}

#body {
  display: block;
  float: left;
  width: 450px;
  min-height: 500px;
  margin-top: 10px;
}

#body label, #response label {
  font-variant: small-caps;
}

.response-cont, .body-cont {
  position: relative;
}

textarea.body {
  background-color: #f8f8f8;
}

.historical-req {
  margin-top: 10px;
  clear: both;
  padding: 0 5px
}

.historical-req .url {
  font-size: 12px;
}

.response-switches {
  background-color: #f5f5f5;  
  border-bottom: 1px solid silver;
}

.showResponse {
  float: left;
  text-align: center;
  border-right: 1px solid silver;
  padding: 2px 3px;
  cursor: pointer;
  font-size: 12px;
  color: #555;
}

.showResponse[data-selected=true] {
  color: #fefefe;
  background-color: #888;
}

.showResponse:hover {
  text-decoration: underline;
}

.response-cont .response-label, .body-cont .body-label {
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 4px 1px 3px;
  opacity: 0.8;
}

.response-cont {
  border: 1px solid;
  width: 100%;
  border-color: rgb(71, 36, 255);
  overflow: auto;
  background-color: white;
}

.response-cont .fmt-nodes-top, .response-cont textarea {
  max-height: 454px;
  overflow: auto;
}

.response-cont.json {
  margin-top: 10px;
}

.response-cont .response-label {
  cursor: pointer;

  width: 70px;
}

.response-label {
  background: rgb(71, 36, 255);
  color: #fafafa;
}

.body-cont textarea.body {
  border-color: rgba(180,180,180,1);
}

.body-label {
  background: rgba(180,180,180,1);
}

.arrow {
  font-weight: bold;
}

.historical-req .method {
  font-weight: bold;
}

.req-meta {
  display: inline-block;
  padding-top: 3px;
  position: relative;
}

.req-meta th, .req-meta td {
  vertical-align: top; /* Helps when a field overflows heightwise */
  max-height: 15px;
  overflow: hidden;
  line-height: 10px;
  border-right: 1px solid silver;
  padding: 0 3px;
  text-align: center;
  font-weight: bold;
}

.req-meta th:first-child, .req-meta td:first-child {
  border-left: 1px solid silver;
}

.req-meta th {
  font-size: 10px;
}

.req-meta td {
  font-size: 12px;
}

.req-meta td.server {
  font-size: 10px;
  max-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.req-meta td.api {
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px;
  min-width: 45px
}

.req-meta td.api[data-api=document] {
  color: rgb(197, 40, 204);
}

.req-meta td.api[data-api=search] {
  color: rgb(140, 182, 255);
}

.req-meta td.server:hover {
  max-width: none;
  overflow: visible;
}

#body {
  margin-right: 15px;
}

textarea.response, textarea.body {
  white-space: pre-wrap;
  margin: 0;
  border: 1px solid silver;
  border-top: 1px solid silver;
  width: 100%;
  color: black;
  overflow: auto;
}

.status {
  font-weight: bold
}

.misc-tools {
  float: right;
  min-width: 130px;
  display: block;
  text-align: right;
  padding-top: 5px;
  top: -5px;
}

.run-again, .save {
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  text-align: right;
}

.misc-tools .small {
  font-size:12px;
}

.misc-tools span:hover {
  color: #555;
}

[data-status-group="errored"]:before {
  color: red;
  content: "CONN ERR ";
}

.response-cont:hover .response-label, .body-cont:hover .body-label {
  opacity: 0.3;
  margin-right: 0;
  -webkit-transition: all 0.05s ease-in-out;                 
  -moz-transition: all 0.05s ease-in-out;                
  -o-transition: all 0.05s ease-in-out;  
  -ms-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.response-cont[data-status-group="500"] {
  border-color: red;
}

.response-cont[data-status-group="500"] .response-label {
  background-color: red;
}
.status[data-status-group="500"] {
  color: red;
}

.response-cont[data-status-group="400"] {
  border-color: orangered;
}
.response-cont[data-status-group="400"] .response-label {
  background-color: orangered;
}
.status[data-status-group="400"] {
  color: orangered;
}

.response-cont[data-status-group="300"] {
  border-color: purple;
}
.response-cont[data-status-group="300"] .response-label {
  background-color: rgb(114, 204, 40);
}
.status[data-status-group="300"] {
  color: rgb(114, 204, 40);
}

.response-cont[data-status-group="200"] {
  border-color: rgb(114, 204, 40);
}
.response-cont[data-status-group="200"] .response-label {
  background-color: rgb(114, 204, 40);
}
.status[data-status-group="200"] {
  color: rgb(114, 204, 40);
}

.method-path {
  padding-bottom: 4px;
}

.context-meta.req-meta {
  margin-top: 2px;
  background-color: rgb(235, 255, 229);
  border-left: 0;
  border-right: 0;
  width: 100%;
  height: 30px;
  top: 0;
}

.context-meta.req-meta[data-shard-failure=true] {
  background-color: rgb(255, 235, 229);  
}

.context-meta.req-meta td {
  padding: auto;
}

textarea {
  font-family: monospace;
  font-size: 14px;
  display: block;
  width: 100%;
  background: transparent;
}

#submit-req {
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
  background: rgb(198, 198, 198);
  border: none;
}

#submit-req:hover {
  background: rgb(212, 212, 212);
}

#submit-req:active {
  background: rgb(225, 225, 225);
}

.fmt-nodes-top {
  margin-top: 5px;
  font-size: 12px;
}

.fmt-nodes-top .expandable {
  cursor: pointer;
}

.fmt-node:hover {
  /*background-color: rgb(255,255,0);*/
}

.fmt-nodes {
  padding-left: 10px;
}

ul.yaml-map, .fmt-nodes {
  list-style-type: none;
}

.yaml-array-elem > .yaml-map {
  padding-left: 0;
}

ul.yaml-map, .fmt-nodes ol.yaml-array {
  margin: 3px 0px 2px 0px;
  padding-left: 30px;
}

.yaml-boolean {
  font-weight: bold;
}

.yaml-boolean.true {
  color: #00AD15;
}

.yaml-boolean.false {
  color: #F15B2B;
}

.yaml-number {
  color: #EF3AFF;
}

.yaml-map-key {
  font-weight: bold;
  color: #444;
}

.fmt-node-value {
  white-space: pre;
  font-weight: bold;
}

.fmt-nodes img {
  width: 100px;
}

#request-history-header {
  background-color: #fff;
}

#request-history .save {
  display: none;
}

#request-history-header h2 {
  display: inline-block;
  margin: 10px 0;
}

#clear-request-history {
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  color: orangered;
  font-weight: bold;
}

#clear-request-history:hover {
  text-decoration: underline;
}